ul {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}
li {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
input {
    background-color: lightskyblue;
}
input:required {
    background-color: pink;
}
